# Dependencies
node_modules/

# Production build outputs
dist/
dist-ssr/

# Package archives
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
